@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  place-content: center;
  background-color: #39373e;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  z-index: 1;
}

h1,
p {
  color: black;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input[type="file"],
button {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6a5acd;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease, transform 0.2s;
  width: 100%;
  box-sizing: border-box;
}

input[type="file"]:hover,
input[type="file"]:focus,
button:hover,
button:focus {
  border-color: #483d8b;
  transform: scale(1.05);
}

button {
  cursor: pointer;
  background-color: blueviolet;
  color: whitesmoke;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 18px;
  width: 200px;
}

button:hover {
  background-color: darkviolet;
  transform: translateY(-2px);
}

#loading {
  display: none;
  margin-top: 10px;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

#results {
  margin-top: 20px;
  text-align: center;
}

#results .image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

#results img.uploaded-image,
#results img.similar-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

#contactInfo {
  margin-top: 20px;
  font-size: 14px;
  color: whitesmoke;
}

.header {
  width: 100%;
  background-color: #333;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.user-panel {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.user-panel a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

.user-panel a:hover {
  background-color: #444;
}

canvas#neuro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  opacity: .95;
}
